<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Solar | Venus</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\static\navbar.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\static\asideMenu.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\static\asideMenu.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\static\cuerpo.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\static\footer.css">
</head>

<body>

<header class="header"></header>

<main>

    <!-- Sección bienvenida -->
    <section class="bienvenida">
        <div class="texto-bienvenida">
            <h1>Venus</h1>
        </div>

        <div class="imagen-bienvenida">
            <iframe 
                src="https://sketchfab.com/models/b306aaadbf2b4fcea1afa2db5ed75b4f/embed?autostart=1&camera=0"
                title="Modelo 3D de Venus"
                allowfullscreen>
            </iframe>
        </div>
    </section>

    <section class="informacion">

        <img src="https://wallpaperaccess.com/full/2148852.jpg" alt="Planeta Venus" width="300">

        <p>
            <strong>Venus</strong> es el segundo planeta del sistema solar y es conocido como
            el planeta gemelo de la Tierra debido a su tamaño y composición.
        </p>

        <article>
            <h2>Características de Venus</h2>
            <ul>
                <li><strong>Tamaño:</strong> Diámetro de 12,104 km.</li>
                <li><strong>Órbita:</strong> 225 días terrestres.</li>
                <li><strong>Rotación:</strong> Retrógrada, 243 días.</li>
                <li><strong>Temperatura:</strong> 465°C promedio.</li>
                <li><strong>Presión:</strong> 90 veces mayor que la Tierra.</li>
            </ul>
        </article>

        <article>
            <h2>Curiosidades</h2>
            <ul>
                <li>Es el tercer objeto más brillante del cielo.</li>
                <li>El Sol sale por el oeste.</li>
                <li>La sonda Venera 13 sobrevivió solo 127 minutos.</li>
            </ul>
        </article>

        <section class="video">
            <iframe 
                width="560" 
                height="315"
                src="https://www.youtube.com/embed/nZxp7AYzRVg"
                title="Venus"
                allowfullscreen>
            </iframe>
        </section>

    </section>

</main>

<footer class="footer"></footer>

<script src="\\wsl.localhost\Ubuntu-22.04\home\yeiner\taller4\hexagonal\pweb\templates\headerAsideFooter.js"></script>

</body>
</html>
